GROQ_API_KEY=gsk_actual_key_1_here
# in case the above doesn't work
GROQ_API_KEY_2=gsk_actual_key_2_here
GROQ_API_KEY_3=gsk_actual_key_3_here
GROQ_MODEL=llama-3.3-70b-versatile
SUPABASE_URL=https://your_url.supabase.co
SUPABASE_KEY=your_supabase_key
DEEPGRAM_API_KEY=your_deepgram_api_key

# In production set this to your actual domain(s)
ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://autovoice-ai.onrender.com
